body {
    background-color: rgb(16, 8, 120);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

#main-info {
    width: 100%;
    max-width: 500px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}